@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

:root {
/* ### Primary */

/* dark-cyan */
 --button-color: hsl(158, 36%, 37%);
/* cream */
 --main-background: hsl(30, 38%, 92%);
/* button hover */
 --button-hover:  hsl(158, 24%, 29%);


/* ### Neutral */

/* Very dark blue */
--second-title-color : hsl(212, 21%, 14%);
/* Dark grayish blue  */
--first-title-subtitle-price-color: hsl(228, 12%, 48%);
/* white */
--card-background: hsl(0, 0%, 100%);

  /* Fonts */
--second-title-font: 'Fraunces', serif;
--first-font: 'Montserrat', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-background);
    font-family: var(--first-font);
    color: var(--first-title-subtitle-price-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.card {
    background-color: var(--card-background);
    border-radius: 0.6rem;
    margin: 0 auto;
    overflow: hidden;
    max-width: 600px;
}

.card__content__image {
    display: block;
    max-width: 100%;
}
  
.card__content {
    display: grid;
    gap: 1rem;
    padding: 1.2rem;
}

.card__content__title__one {
    font-size: 0.7rem;
    font-weight: lighter;
    letter-spacing: 0.35rem;
}

.card__content__title__two {
    font-family: var(--second-title-font);
    color: var(--second-title-color);
    font-size: 2rem;
    line-height: 2rem;
}

.card__content__description {
    font-size: 0.9rem;
    font-weight: lighter;
    word-spacing: 0.05rem;
    line-height: 1.5rem;
}

.pricing {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

.first__price {
    font-family: var(--second-title-font);
    font-size: 2rem;
    color: var(--button-color);   
}

.second__price {
    font-size: 0.8rem;
    text-decoration: line-through;
}

.button__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    background-color: var(--button-color);
    border-radius: 0.25rem;
    height: 50px;
    text-decoration: none;
    color: var(--main-background);
}

.button__cart:hover {
    background-color: var(--button-hover);
}

@media (min-width: 600px) {
    .card {
        display: flex;
    }
}
